---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -8
AlignConsecutiveAssignments:
  Enabled: true
  AcrossComments: true
  AcrossEmptyLines: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakTemplateDeclarations: No
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBraces: Custom
BreakConstructorInitializersBeforeComma: false
BreakInheritanceList: AfterColon
ColumnLimit: 180
CompactNamespaces: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ContinuationIndentWidth: 16
IncludeCategories:
  - Regex: '^<engine/(client|server)/.*'
    Priority: 1
  - Regex: '^<engine/.*'
    Priority: 2
  - Regex: '^<game/(client|server)/.*'
    Priority: 3
  - Regex: '^<game/.*'
    Priority: 4
  - Regex: '^<.*/.*'
    Priority: 5
  - Regex: '^<.*'
    Priority: 6
  - Regex: '^".*'
    Priority: 7
  - Regex: '.*'
    Priority: 7
IncludeIsMainRegex: '([-_](test|unittest))?$'
IndentCaseLabels: true
IndentPPDirectives: AfterHash
IndentWidth: 8
InsertNewlineAtEOF: true
NamespaceIndentation: All
PointerAlignment: Left
ReflowComments: false
SpaceAfterTemplateKeyword: false
SpaceInEmptyParentheses: true
SpacesInAngles: true
SpacesInConditionalStatement: true
SpacesInCStyleCastParentheses: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
UseTab: Always
CommentPragmas: '^<-.*$'
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
...
